{% extends "app/layout.html" %}

{% block content %}

{% load static %}

<h2>О сайте</h2>
<h3>Лучшие предложения только здесь!</h3>

<div class="my-clearfix">
    <img src="{% static 'app/content/aviasalesabout.jpg'%}" alt="Логотип" class="about-logo" />
    <p>
        Aviasales — метапоисковик авиабилетов, существующий с 2007 года. Основатель — Константин Калинов. 
        Ежемесячная аудитория сервиса оценивается примерно в 15 миллионов человек[1]. 
        Штаб-квартира компании находится в Таиланде на острове Пхукет. В России у Aviasales ещё два офиса: в Москве[2] и в Санкт-Петербурге[3]. 
        Метапоисковик принадлежит компании Go Travel Un Limited..
    </p>
</div>

<div class="row vertical-margins">
    <div class="col-md-6 col-md-offset-3">
        <img src="{% static 'app/content/aviasalesabout1.png'%}" alt="Изображение" class="img-responsive img-rounded" />
    </div>
</div>

<p>
    За рубежом Aviasales работал под торговой маркой JetRadar с 2012 года. 
    Сервис был локализован для 16 стран. В мае 2012 года было запущено мобильное приложение, которое через два дня после появления в AppStore заняло первое место в категории «Путешествия», обогнав приложения «Яндекс.Такси» и Booking.com[6]. 
    В 2013 году был запущен Hotellook — отельный поисковик[7]. В феврале 2014 года сервис закрыл первый раунд инвестиций в размере $10 млн от фонда iTech Capital. 
    Через некоторое время эту сделку назвали Deal of the year («сделкой года») на премии Venture Award. 
    Фонд получил миноритарную долю в компании, а управляющий партнёр фонда Глеб Давидюк и инвестиционный менеджер Илья Баландин вошли в совет директоров Aviasales. 
    Инвестиции привлекались для развития сервиса, маркетинга продуктов и расширения штата[8].
</p>

<div class="row vertical-margins">
    <div class="col-md-6 col-md-offset-3">
        <img src="{% static 'app/content/avia.jpg'%}" alt="Изображение" class="img-responsive img-rounded" />
    </div>
</div>

<p>
    Aviasales является метапоисковым сервисом и не продаёт билеты. Найдя нужный билет, пользователь переходит на страницу авиакассы или авиакомпании, чтобы совершить оплату. Оплата происходит на странице авиакомпании или авиакассы либо прямо в интерфейсе поисковика[14]. В интерфейсе поисковика, то есть в формате экспресс-бронирования (assisted booking), продаются билеты «Уральских авиалиний» и S7 Airlines[15].

    Кроме поисковых функций, ресурс оставляет за собой право модерировать выдачу — в случае, если поставщик манипулирует стоимостью перевозки, его исключают[16].
</p>

<p>Здесь есть полезные <a href="{% url 'links' %}">ресурсы</a>.</p>

    {% endblock %}
